/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // This is a sample keymap intended to be replaced with your own

        base_layer {
            bindings = <
&kp Q  &kp W  &kp E  &kp R  &kp T                                     &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F  &kp G                                     &kp H        &kp J  &kp K      &kp L    &kp SEMI
&kp Z  &kp X  &kp C  &kp V  &kp B                                     &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
                            &mt LSHFT DEL  &lt 4 BSPC    &lt 5 SPACE  &lt 1 ENTER
            >;
        };

        lafayette {
            bindings = <
&kp CARET  &kp LT    &kp GT    &kp DLLR   &kp PRCNT                                 &kp AT       &kp AMPS  &kp STAR   &kp SQT    &kp GRAVE
&kp LBRC   &kp LPAR  &kp RPAR  &kp RBRC   &kp EQUAL                                 &kp BSLH     &kp PLUS  &kp MINUS  &kp FSLH   &kp DQT
&kp TILDE  &kp LBKT  &kp RBKT  &kp UNDER  &kp HASH                                  &kp PIPE     &kp EXCL  &kp SEMI   &kp COLON  &kp QMARK
                                          &mt LSHFT ESC  &lt 4 BSPC    &lt 4 SPACE  &lt 1 ENTER
            >;
        };

        num_row {
            bindings = <
&kp Q  &kp W  &kp E  &kp R  &kp T                                     &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F  &kp G                                     &kp H        &kp J  &kp K      &kp L    &kp SEMI
&kp Z  &kp X  &kp C  &kp V  &kp B                                     &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
                            &mt LSHFT DEL  &lt 5 BSPC    &lt 5 SPACE  &lt 2 ENTER
            >;
        };

        vim_nav {
            bindings = <
&kp Q  &kp W  &kp E  &kp R  &kp T                                     &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F  &kp G                                     &kp H        &kp J  &kp K      &kp L    &kp SEMI
&kp Z  &kp X  &kp C  &kp V  &kp B                                     &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
                            &mt LSHFT DEL  &lt 5 BSPC    &lt 5 SPACE  &lt 2 ENTER
            >;
        };

        num_nav {
            bindings = <
&kp TAB    &kp HOME        &kp UP_ARROW  &kp END      &kp PAGE_UP                               &kp Y        &kp U  &kp I      &kp O    &kp P
&kp LC(A)  &kp LEFT        &kp DOWN      &kp RIGHT    &kp DOWN                                  &kp H        &kp J  &kp K      &kp L    &kp SEMI
&kp LC(Z)  &kp LS(DELETE)  &kp LC(INS)   &kp LS(INS)  &kp LS(TAB)                               &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
                                                      &mt LSHFT DEL  &lt 5 BSPC    &lt 5 SPACE  &lt 2 ENTER
            >;
        };
    };
};
